<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>classify</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename= 'css/index.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename= 'css/upload.css')}}"
    />
  </head>
  <body>
    <div class="container1">
      <!-- Header -->
      <div class="header">
        <div class="header_brand">Waste Classifier</div>
        <div class="header_navigation">
          <div
            class="header_navigation_tab"
            onclick="window.location.replace('/')"
          >
            Home
          </div>
          <!-- <div class="header_navigation_tab" onclick="window.location.replace('/about.html')">About</div> -->
          <div class="header_navigation_tab selected">Classify</div>
        </div>
      </div>

      <!-- Content -->
      <div class="ccontent">
        <div class="ccontent_title">Upload Image for Classification</div>
        <form method="post" enctype="multipart/form-data">
          <label for="image" id="uploadlabel"
            ><img
              src="{{ url_for('static',filename= 'images/upload.svg')}}"
              alt="Upload Image"
              class="ccontent_img" /><br
          /></label>
          <input type="file" name="file" id="image" onchange="changeData()"/>
          <div id="imgNew">

          </div>
          <input class="ccontent_button" type="submit" id="btn" value="Classify Image">
        </input>
        </form>
      </div>
      

      <!-- Footer -->
      <div class="footer"></div>
    </div>

    <script>
      function changeData() {
          document.getElementById("uploadlabel").style.display = "none";
          var fileName = document.querySelector('input[type=file]').files[0].name
          document.querySelector('#imgNew').innerHTML = `
              <img src='/static/uploads/${fileName}' alt="Upload Image" class="imgNew" style='height:30vh; padding-top:3vh; padding-bottom:1vh;'>
          `
      }
  </script>

  </body>
</html>
